<a href="https://colab.research.google.com/github/JarekMaleszyk/data-science-project-sandbox/blob/main/dual_pos_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Etap 1: Dane z SA

Skrypt należy wykonać na SA, wyeksportować do CSV  i umieścić bezpośrednio w katalogu ./data
```SQL
/*Part 1 - group by*/
proc sql outobs=max;
	create table DICT_MODEL_PRODUCT_CONC_TMP as
    select
        MODEL_PROD_CD,
        catx(', ', MAT_ID) as MAT_IDS
    from CMDICT.DICT_MODEL_PRODUCT
    group by MODEL_PROD_CD;
run;
/*Part 1 - sort*/
proc sort data=WORK.DICT_MODEL_PRODUCT_CONC_TMP;
    by MODEL_PROD_CD;
run;
/*Part 1 - concatenation*/
data DICT_MODEL_PRODUCT_CONC;
    set WORK.DICT_MODEL_PRODUCT_CONC_TMP;
    by MODEL_PROD_CD;
    retain CONCATENATED_MAT_IDS;

    if first.MODEL_PROD_CD
		then CONCATENATED_MAT_IDS = MAT_IDS;
    else CONCATENATED_MAT_IDS = catx('#', CONCATENATED_MAT_IDS, MAT_IDS);

    if last.MODEL_PROD_CD
		then output;
    keep MODEL_PROD_CD CONCATENATED_MAT_IDS;
run;

/*Part 2 - join + union */
proc sql outobs=max;
create table DICT_MODEL_RULES_TST as
	select
		dc.RULESET,
		dc.RULE_ID,
		dc.MODEL_PROD_CD_ITEM1,
		dc.MODEL_PROD_CD_ITEM2,
		dc.MODEL_PROD_CD_ITEM3,
		dc.MODEL_PROD_CD_ITEM4,
		dc.MODEL_PROD_CD_ITEM5,
		dc.RECOMENDATION,
		dc.PRIORITY,
		dc.LIFT,
		dc.SUPPORT,
		dc.COUNT,
		dc.PRIORITY_COUNT,
		dc.PRIORITY_LIFT,
		dc.DZIEN_TYGODNIA,
		dc.PORA_DNIA_OD,
		dc.PORA_DNIA_DO,
		dc.TYP_STACJI,
		dc.SEZON,
		it1.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM1,
		it2.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM2,
		it3.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM3,
		it4.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM4,
		it5.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM5
	from CMDICT.DICT_MODEL_RULES as dc
	left join WORK.DICT_MODEL_PRODUCT_CONC as it1 on dc.MODEL_PROD_CD_ITEM1 = it1.MODEL_PROD_CD
	left join WORK.DICT_MODEL_PRODUCT_CONC as it2 on dc.MODEL_PROD_CD_ITEM2 = it2.MODEL_PROD_CD
	left join WORK.DICT_MODEL_PRODUCT_CONC as it3 on dc.MODEL_PROD_CD_ITEM3 = it3.MODEL_PROD_CD
	left join WORK.DICT_MODEL_PRODUCT_CONC as it4 on dc.MODEL_PROD_CD_ITEM4 = it4.MODEL_PROD_CD
	left join WORK.DICT_MODEL_PRODUCT_CONC as it5 on dc.MODEL_PROD_CD_ITEM5 = it5.MODEL_PROD_CD
	where 1=1
		and dc.RULESET = "ALL_UNNAMED_DUAL_POS"
		and dc.DZIEN_TYGODNIA = 5
		and dc.TYP_STACJI = "Wiejska"
		and dc.PORA_DNIA_OD = 14
		and dc.PORA_DNIA_DO = 21
		and dc.PRIORITY_COUNT = 1

	UNION ALL

	select
		dc.RULESET,
		dc.RULE_ID,
		dc.MODEL_PROD_CD_ITEM1,
		dc.MODEL_PROD_CD_ITEM2,
		dc.MODEL_PROD_CD_ITEM3,
		dc.MODEL_PROD_CD_ITEM4,
		dc.MODEL_PROD_CD_ITEM5,
		dc.RECOMENDATION,
		dc.PRIORITY,
		dc.LIFT,
		dc.SUPPORT,
		dc.COUNT,
		dc.PRIORITY_COUNT,
		dc.PRIORITY_LIFT,
		dc.DZIEN_TYGODNIA,
		dc.PORA_DNIA_OD,
		dc.PORA_DNIA_DO,
		dc.TYP_STACJI,
		dc.SEZON,
		it1.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM1,
		it2.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM2,
		it3.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM3,
		it4.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM4,
		it5.CONCATENATED_MAT_IDS AS MODEL_PROD_LIST_ITEM5
	from CMDICT.DICT_MODEL_RULES as dc
	left join WORK.DICT_MODEL_PRODUCT_CONC as it1 on dc.MODEL_PROD_CD_ITEM1 = it1.MODEL_PROD_CD
	left join WORK.DICT_MODEL_PRODUCT_CONC as it2 on dc.MODEL_PROD_CD_ITEM2 = it2.MODEL_PROD_CD
	left join WORK.DICT_MODEL_PRODUCT_CONC as it3 on dc.MODEL_PROD_CD_ITEM3 = it3.MODEL_PROD_CD
	left join WORK.DICT_MODEL_PRODUCT_CONC as it4 on dc.MODEL_PROD_CD_ITEM4 = it4.MODEL_PROD_CD
	left join WORK.DICT_MODEL_PRODUCT_CONC as it5 on dc.MODEL_PROD_CD_ITEM5 = it5.MODEL_PROD_CD
	where 1=1
		and dc.RULESET = "ALL_VITAY_DUAL_POS"
		and dc.TYP_STACJI = "Wiejska"
		and dc.SEZON = "Z"
		and dc.GR2_TRN_DIST_GASTRO_ALL_CNT_MAX6 = 1
		and dc.PORA_DNIA_OD = 14
		and dc.PORA_DNIA_DO = 21
		and dc.PRIORITY_COUNT = 1
;
run;
```

#### Etap 2: Normalizacja pliku

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
CSV_FILE_PATH = "data/DICT_MODEL_RULES_TST.csv"

In [ ]:
dtypes = {"MODEL_PROD_CD_ITEM1": "str",
          "MODEL_PROD_CD_ITEM2": "str",
          "MODEL_PROD_CD_ITEM3": "str",
          "MODEL_PROD_CD_ITEM4": "str",
          "MODEL_PROD_CD_ITEM5": "str",
          "MODEL_PROD_LIST_ITEM1": "str",
          "MODEL_PROD_LIST_ITEM2": "str",
          "MODEL_PROD_LIST_ITEM3": "str",
          "MODEL_PROD_LIST_ITEM4": "str",
          "MODEL_PROD_LIST_ITEM5": "str"
         }

In [ ]:
df = pd.read_csv(CSV_FILE_PATH, sep=";", header=0, dtype=dtypes)

In [ ]:
df['MODEL_PROD_LIST_ITEM1'] = df['MODEL_PROD_LIST_ITEM1'].str.split('#')
df['MODEL_PROD_LIST_ITEM2'] = df['MODEL_PROD_LIST_ITEM2'].str.split('#')
df['MODEL_PROD_LIST_ITEM3'] = df['MODEL_PROD_LIST_ITEM3'].str.split('#')
df['MODEL_PROD_LIST_ITEM4'] = df['MODEL_PROD_LIST_ITEM4'].str.split('#')
df['MODEL_PROD_LIST_ITEM5'] = df['MODEL_PROD_LIST_ITEM5'].str.split('#')

In [ ]:
df.sample(n=20)

,RULESET,RULE_ID,MODEL_PROD_CD_ITEM1,MODEL_PROD_CD_ITEM2,MODEL_PROD_CD_ITEM3,MODEL_PROD_CD_ITEM4,MODEL_PROD_CD_ITEM5,RECOMENDATION,PRIORITY,LIFT,...,DZIEN_TYGODNIA,PORA_DNIA_OD,PORA_DNIA_DO,TYP_STACJI,SEZON,MODEL_PROD_LIST_ITEM1,MODEL_PROD_LIST_ITEM2,MODEL_PROD_LIST_ITEM3,MODEL_PROD_LIST_ITEM4,MODEL_PROD_LIST_ITEM5
320,ALL_VITAY_DUAL_POS,5078708,BENZYNA,HOT-DOG MEGA,NaN,NaN,NaN,NAPOJE GAZOWANE,0,2.4547,...,NaN,14,21,Wiejska,Z,"[D01-000054, D01-000003, D01-000001, D01-00001...","[D10-000779, D10-000561, D05-008787, D05-00890...",NaN,NaN,NaN
310,ALL_UNNAMED_DUAL_POS,8060241,ZDROWE PRZEKASKI,NaN,NaN,NaN,NaN,WODA,0,3.3128,...,5.0,14,21,Wiejska,NaN,"[D05-018017, D05-018016, D05-013041, D05-01789...",NaN,NaN,NaN,NaN
95,ALL_UNNAMED_DUAL_POS,5181681,ENERGETYKI,KAWA Z MLEKIEM,NaN,NaN,NaN,NAPOJE GAZOWANE,0,4.0472,...,5.0,14,21,Wiejska,NaN,"[D05-018136, D05-018139, D05-018138, D05-01824...","[D10-000632, D10-000627, D10-000414, D10-00041...",NaN,NaN,NaN
38,ALL_UNNAMED_DUAL_POS,5327662,ENERGETYKI,SOKI,NaN,NaN,NaN,WODA,0,2.7302,...,5.0,14,21,Wiejska,NaN,"[D05-018136, D05-018139, D05-018138, D05-01824...","[D05-003604, D05-003598, D05-003161, D05-00315...",NaN,NaN,NaN
237,ALL_UNNAMED_DUAL_POS,3105742,BENZYNA,WODA,NaN,NaN,NaN,NAPOJE GAZOWANE,0,1.8799,...,5.0,14,21,Wiejska,NaN,"[D01-000054, D01-000003, D01-000001, D01-00001...","[D05-018114, D05-001524, D05-018039, D05-01803...",NaN,NaN,NaN
56,ALL_UNNAMED_DUAL_POS,4019062,CHIPSY,NAPOJE GAZOWANE,NaN,NaN,NaN,CUKIERKI I LIZAKI,0,5.6045,...,5.0,14,21,Wiejska,NaN,"[D05-007158, D05-006956, D05-006957, D05-00695...","[D05-015030, D05-013579, D05-018050, D05-01367...",NaN,NaN,NaN
218,ALL_UNNAMED_DUAL_POS,3012502,BENZYNA,TOWARY POZOSTALE,NaN,NaN,NaN,KAWA Z MLEKIEM,0,7.2863,...,5.0,14,21,Wiejska,NaN,"[D01-000054, D01-000003, D01-000001, D01-00001...","[D06-003470, D06-003468, D06-003366, D06-00336...",NaN,NaN,NaN
389,ALL_VITAY_DUAL_POS,6177449,HOT-DOG MALY,LPG,NaN,NaN,NaN,KAWA Z MLEKIEM,0,1.2916,...,NaN,14,21,Wiejska,Z,"[D10-000477, D10-000481, D10-000482, D10-00048...",[D02-000002],NaN,NaN,NaN
281,ALL_UNNAMED_DUAL_POS,2453965,BATONY,HOT-DOG MALY,NaN,NaN,NaN,NAPOJE GAZOWANE,0,4.8483,...,5.0,14,21,Wiejska,NaN,"[D05-017682, D05-013395, D05-013110, D05-00279...","[D10-000477, D10-000481, D10-000482, D10-00048...",NaN,NaN,NaN
6,ALL_UNNAMED_DUAL_POS,7713205,PIWO BEZALKOHOLOWE,WYROBY TYTONIOWE,NaN,NaN,NaN,NAPOJE GAZOWANE,0,2.1055,...,5.0,14,21,Wiejska,NaN,"[D05-018279, D05-018278, D05-018273, D05-01827...","[D06-011079, D06-011078, D06-011077, D06-01107...",NaN,NaN,NaN
42,ALL_UNNAMED_DUAL_POS,7091842,NAPOJE GAZOWANE,TOWARY POZOSTALE,NaN,NaN,NaN,KAWA Z MLEKIEM,0,7.2407,...,5.0,14,21,Wiejska,NaN,"[D05-015030, D05-013579, D05-018050, D05-01367...","[D06-003470, D06-003468, D06-003366, D06-00336...",NaN,NaN,NaN
444,ALL_VITAY_DUAL_POS,388303,SLODKA PRZEKASKA,WYROBY TYTONIOWE,NaN,NaN,NaN,SOKI - MARKA WLASNA,0,71.0262,...,NaN,14,21,Wiejska,Z,"[D10-000840, D10-000841, D05-008501, D10-00082...","[D06-011079, D06-011078, D06-011077, D06-01107...",NaN,NaN,NaN
5,ALL_UNNAMED_DUAL_POS,5931384,GUMY DO ZUCIA,NaN,NaN,NaN,NaN,NAPOJE GAZOWANE,0,2.2321,...,5.0,14,21,Wiejska,NaN,"[D05-006724, D05-006833, D05-006873, D05-00687...",NaN,NaN,NaN,NaN
131,ALL_UNNAMED_DUAL_POS,6080242,HOT-DOG MALY,HOT-DOG MEGA,WYROBY TYTONIOWE,NaN,NaN,NAPOJE GAZOWANE,0,3.0354,...,5.0,14,21,Wiejska,NaN,"[D10-000477, D10-000481, D10-000482, D10-00048...","[D10-000779, D10-000561, D05-008787, D05-00890...","[D06-011079, D06-011078, D06-011077, D06-01107...",NaN,NaN
215,ALL_UNNAMED_DUAL_POS,4759583,CZEKOLADY,HOT-DOG MALY,NaN,NaN,NaN,NAPOJE GAZOWANE,0,7.2031,...,5.0,14,21,Wiejska,NaN,"[D05-009043, D05-007320, D05-017188, D05-00905...","[D10-000477, D10-000481, D10-000482, D10-00048...",NaN,NaN,NaN
105,ALL_UNNAMED_DUAL_POS,1672222,ALKOHOLE WYSOKOPROCENTOWE,CHIPSY,NaN,NaN,NaN,NAPOJE GAZOWANE,0,8.5140,...,5.0,14,21,Wiejska,NaN,"[D05-017005, D05-017004, D05-010392, D05-01802...","[D05-007158, D05-006956, D05-006957, D05-00695...",NaN,NaN,NaN
41,ALL_UNNAMED_DUAL_POS,7688185,NAPOJE NIEGAZ I HERB,WYROBY TYTONIOWE,NaN,NaN,NaN,NAPOJE GAZOWANE,0,2.3891,...,5.0,14,21,Wiejska,NaN,"[D05-018254, D05-018253, D05-018159, D05-01815...","[D06-011079, D06-011078, D06-011077, D06-01107...",NaN,NaN,NaN
168,ALL_UNNAMED_DUAL_POS,6741563,IZOTONIKI,NaN,NaN,NaN,NaN,WODA,0,1.9436,...,5.0,14,21,Wiejska,NaN,"[D05-018242, D05-018241, D05-015769, D05-01434...",NaN,NaN,NaN,NaN
121,ALL_UNNAMED_DUAL_POS,7673062,NAPOJE NIEGAZ I HERB,OLEJ NAPEDOWY,NaN,NaN,NaN,NAPOJE GAZOWANE,0,2.1318,...,5.0,14,21,Wiejska,NaN,"[D05-018254, D05-018253, D05-018159, D05-01815...","[D01-000040, D01-000055, D01-000039, D01-00001...",NaN,NaN,NaN
123,ALL_UNNAMED_DUAL_POS,6194542,HOT-DOG MALY,KAWA Z MLEKIEM,SLODKA PRZEKASKA,NaN,NaN,SOKI - MARKA WLASNA,0,121.6812,...,5.0,14,21,Wiejska,NaN,"[D10-000477, D10-000481, D10-000482, D10-00048...","[D10-000632, D10-000627, D10-000414, D10-00041...","[D10-000840, D10-000841, D05-008501, D10-00082...",NaN,NaN

In [ ]:
def fix_list(input_list: list, ln: int) -> list:
    '''
    Funkcja zostawia w liście wejściowej tylko te elementy których długość jest równa ln
    '''
    return [x for x in input_list if len(x) == ln]

In [ ]:
df['MODEL_PROD_LIST_ITEM1'] = df['MODEL_PROD_LIST_ITEM1'][df['MODEL_PROD_LIST_ITEM1'].str.len() > 0].apply(lambda MAT_IDS: fix_list(MAT_IDS, 10))
df['MODEL_PROD_LIST_ITEM2'] = df['MODEL_PROD_LIST_ITEM2'][df['MODEL_PROD_LIST_ITEM2'].str.len() > 0].apply(lambda MAT_IDS: fix_list(MAT_IDS, 10))
df['MODEL_PROD_LIST_ITEM3'] = df['MODEL_PROD_LIST_ITEM3'][df['MODEL_PROD_LIST_ITEM3'].str.len() > 0].apply(lambda MAT_IDS: fix_list(MAT_IDS, 10))
df['MODEL_PROD_LIST_ITEM4'] = df['MODEL_PROD_LIST_ITEM4'][df['MODEL_PROD_LIST_ITEM4'].str.len() > 0].apply(lambda MAT_IDS: fix_list(MAT_IDS, 10))
df['MODEL_PROD_LIST_ITEM5'] = df['MODEL_PROD_LIST_ITEM5'][df['MODEL_PROD_LIST_ITEM5'].str.len() > 0].apply(lambda MAT_IDS: fix_list(MAT_IDS, 10))

#### Etap 3: Budowanie pliku json i testowanie API.

In [ ]:
import json
import os
import random
import time
from utils import print_progress_bar
import shutil
import logging
import requests
import random

import warnings
warnings.filterwarnings('ignore')

In [ ]:
JSON_TEMPLATE_FILE = "data/dual-pos-request-template.txt"

with open(JSON_TEMPLATE_FILE, 'r') as file:
    template_file = file.read()

In [ ]:
def replace_placeholder_in_text(text: str, placeholder: str, replacement: list[str]) -> str:
    result_replacement = ""
    for item in replacement:
        result_replacement = result_replacement + '["' + item + '"],\t'
    return text.replace(placeholder, result_replacement[:-2] + "\t")

In [ ]:
def get_basket_product_list_info(row: pd.Series):
    ruleset_info = row["RULESET"]
    ruleset_id = row["RULE_ID"]
    recomendation_info = row["RECOMENDATION"]

    def get_random_product(ls: list) -> str:
        if ls is not np.nan:
            return random.choice(ls)

    basket_info = [
                    get_random_product(row["MODEL_PROD_LIST_ITEM1"]),
                    get_random_product(row["MODEL_PROD_LIST_ITEM2"]),
                    get_random_product(row["MODEL_PROD_LIST_ITEM3"]),
                    get_random_product(row["MODEL_PROD_LIST_ITEM4"]),
                    get_random_product(row["MODEL_PROD_LIST_ITEM5"])
                   ]

    return ruleset_info, ruleset_id, recomendation_info, list(filter(None, basket_info))

In [ ]:
df_test = df.sample(n=30, random_state=2)
# df_test = df

In [ ]:
HEADERS = {
    "Content-Type": "application/json",
    "Accept": "application/json",
    "User-Agent": "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36"
}
URL = "https://bpknsassat05.orlen.pl/api/getbasketoffer"   # URL = "http://10.1.111.45/api/getbasketoffer"
PLACEHOLDER = "####placeholder####"

In [ ]:
def clean_folder(folder_path: str) -> None:
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        try:
            if os.path.isfile(file_path) or os.path.islink(file_path):
                os.unlink(file_path)
            elif os.path.isdir(file_path):
                shutil.rmtree(file_path)
        except Exception as e:
            print('Failed to delete %s. Reason: %s' % (file_path, e))

In [ ]:
clean_folder("data/request")
clean_folder("data/response")
clean_folder("data/report")

In [ ]:
def save_json_file(file_path: str, file_name: str, payload: str) -> bool:
    try:
        with open(f"{file_path}/{file_name}", "w", encoding="utf-8") as f:
            json.dump(payload, f, ensure_ascii=False, indent=2)
        return True
    except Exception as e:
        logging.error(f"Saving file error: {e}")
        return False

In [ ]:
def concate_values_in_series(series: pd.Series, cols: list) -> str:
    concatenation = ""
    for col in cols:
        if series[col] is not np.nan:
           concatenation = concatenation + ", " + series[col]
    return concatenation[2:]

In [ ]:
output_data = []
def dual_pos_api_test():
    l = len(df_test.index)
    j = 0
    # Pętla testująca metodę POST
    for i, row in df_test.iterrows():
        j += 1
        print_progress_bar(j, l, prefix = 'Dual-POS API Testing Progress:', suffix = 'Complete', length = 75)
        ruleset_info, ruleset_id, recommendation_info, basket = get_basket_product_list_info(row)
        row_txt_data = replace_placeholder_in_text(template_file, PLACEHOLDER, basket)
        payload = json.loads(row_txt_data)

        cols = ["MODEL_PROD_CD_ITEM1", "MODEL_PROD_CD_ITEM2", "MODEL_PROD_CD_ITEM3", "MODEL_PROD_CD_ITEM4", "MODEL_PROD_CD_ITEM5"]
        basket_categoties = concate_values_in_series(row, cols)

        save_json_file("data/request", f"dual-pos-request-body_{i + 1}.json", payload)

        try:
            response = requests.post(URL, headers=HEADERS, json=payload, verify=False)
            response_json = response.json()
            save_json_file("data/response", f"dual-pos-response-body_{i + 1}.json", response_json)

            recomm_response = "Nie został zdefiniowany żaden treatment"
            try:
                recomm_response = response_json['outputs'][1]['value'][1]['data'][0]
            except TypeError as e:
                logging.info(recomm_response)

            response_row = {"RULESET": ruleset_info,
                            "RECOMMENDATION": recommendation_info,
                            "BASKET_CATEGORIES": basket_categoties,
                            "BASKET_PRODUCTS": basket,
                            "RESPONSE_CODE": response.status_code,
                            "RESPONSE": recomm_response}
            output_data.append(response_row)

        except requests.RequestException as e:
            logging.error(f"Request error: {e}")

        time.sleep(.05)

In [ ]:
dual_pos_api_test()

Dual-POS API Testing Progress: |███████████████████████████████████████████████████████████████████████████| 100.0% Complete

In [ ]:
output_df = pd.DataFrame(output_data)

output_df.sample(n=1)

,RULESET,RECOMMENDATION,BASKET_CATEGORIES,BASKET_PRODUCTS,RESPONSE_CODE,RESPONSE
0,ALL_UNNAMED_DUAL_POS,NAPOJE GAZOWANE,WYROBY TYTONIOWE,[D06-011077],200,"[6140324, 580162, 1, None, None, Mam dla Pana ..."

In [ ]:
try:
    output_df.to_csv("data/report/dual-pos-test-report.csv", sep=";", header=True, index=False, encoding="utf-8-sig")
except Exception as e:
    logging.error(f"Saving file error: {e}")