<a href="https://colab.research.google.com/github/JarekMaleszyk/data-science-project-sandbox/blob/main/pyspark_test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
try:
  import pyspark
except:
  !pip install pyspark

In [45]:
from pyspark.sql import SparkSession

In [46]:
spark = SparkSession.builder.appName('Pratice').getOrCreate()

In [47]:
spark

In [48]:
## read
df_pyspark = spark.read.option('header','true').csv('/content/my_data/simple_data.csv', sep=";", inferSchema=True)

In [49]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [50]:
df_pyspark.columns

['name', 'age', 'experience']

In [51]:
print(type(d := df_pyspark.select(['name', 'experience'])))
d.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+-----+----------+
| name|experience|
+-----+----------+
| Kris|         6|
| Adam|         5|
|Sunny|        14|
+-----+----------+

In [52]:
df_pyspark['name'] #only Column
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [53]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+
|summary| name|               age|       experience|
+-------+-----+------------------+-----------------+
|  count|    3|                 3|                3|
|   mean| NULL|33.333333333333336|8.333333333333334|
| stddev| NULL| 4.932882862316247|4.932882862316247|
|    min| Adam|                30|                5|
|    max|Sunny|                39|               14|
+-------+-----+------------------+-----------------+

In [54]:
#add column
df_pyspark = df_pyspark.withColumn('monthly_experience', df_pyspark['experience']*12) # Use withColumn instead of WithColumn
df_pyspark.show()

+-----+---+----------+------------------+
| name|age|experience|monthly_experience|
+-----+---+----------+------------------+
| Kris| 31|         6|                72|
| Adam| 30|         5|                60|
|Sunny| 39|        14|               168|
+-----+---+----------+------------------+

In [55]:
#drop column
df_pyspark = df_pyspark.drop('monthly_experience')
df_pyspark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| Kris| 31|         6|
| Adam| 30|         5|
|Sunny| 39|        14|
+-----+---+----------+

In [56]:
#rename column
df_pyspark = df_pyspark.withColumnRenamed('name', 'first_name')
df_pyspark.show()

+----------+---+----------+
|first_name|age|experience|
+----------+---+----------+
|      Kris| 31|         6|
|      Adam| 30|         5|
|     Sunny| 39|        14|
+----------+---+----------+